.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .nav {
    padding: 15px;
    display: flex;

    .nav__item {
      list-style-type: none;
    }

    .nav__list, .nav__donate {
      color: #000;
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid grey;
      margin-right: 20px;

      &:hover {
        border: 1px solid orange;
        color: orange;
      }
    }

    .nav__donate {
      margin-right: 0;
    }

    .nav--active {
      border: 1px solid orange;
      color: orange;
    }
  }
}